a-unet==0.0.16
aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
archisound==0.0.6
async-timeout==4.0.2
attrs==22.2.0
audio-data-pytorch==0.0.19
audio-diffusion-pytorch==0.1.3
audio-encoders-pytorch==0.0.22
audioread==3.0.0
bidict==0.22.1
braceexpand==0.1.7
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
data-science-types==0.2.23
decorator==5.1.1
docker-pycreds==0.4.0
einops==0.6.0
einops-exts==0.0.4
filelock==3.9.0
frozenlist==1.3.3
ftfy==6.1.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
h5py==3.8.0
huggingface-hub==0.13.1
idna==3.4
importlib-metadata==6.0.0
joblib==1.2.0
laion-clap==1.1.0
lazy_loader==0.1
librosa==0.10.0
llvmlite==0.39.1
msgpack==1.0.5
multidict==6.0.4
mutagen==1.46.0
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
pathtools==0.1.2
Pillow==9.4.0
platformdirs==3.1.1
playsound==1.3.0
pooch==1.7.0
progressbar==2.5
protobuf==4.22.1
psutil==5.9.4
pycparser==2.21
pycryptodomex==3.17
pyloudnorm==0.1.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
sentry-sdk==1.16.0
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.4
threadpoolctl==3.1.0
tinytag==1.8.1
tokenizers==0.13.2
torch==1.13.1
torchaudio==0.13.1
torchlibrosa==0.1.0
torchvision==0.14.1
tqdm==4.65.0
transformers==4.27.0
typing_extensions==4.5.0
urllib3==1.26.14
wandb==0.14.0
wcwidth==0.2.6
webdataset==0.2.39
websockets==10.4
wget==3.2
yarl==1.8.2
yt-dlp==2023.3.4
zipp==3.15.0
