a-unet==0.0.16
aiohttp==3.8.4
aiosignal==1.3.1
archisound==0.0.6
async-timeout==4.0.2
attrs==22.2.0
audio-data-pytorch==0.0.19
audio-diffusion-pytorch==0.1.3
audio-encoders-pytorch==0.0.22
bidict==0.22.1
braceexpand==0.1.7
Brotli==1.0.9
certifi==2022.12.7
charset-normalizer==3.1.0
data-science-types==0.2.23
einops==0.6.0
einops-exts==0.0.4
filelock==3.9.0
frozenlist==1.3.3
future==0.18.3
huggingface-hub==0.13.1
idna==3.4
multidict==6.0.4
mutagen==1.46.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pycryptodomex==3.17
pyloudnorm==0.1.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
scipy==1.10.1
six==1.16.0
tinytag==1.8.1
tokenizers==0.13.2
torch==1.13.1
torchaudio==0.13.1
tqdm==4.65.0
transformers==4.26.1
typing_extensions==4.5.0
urllib3==1.26.14
webdataset==0.2.39
websockets==10.4
yarl==1.8.2
yt-dlp==2023.3.4
